.container {
  margin-top:5px;
  margin-bottom:5px;
}

.card-container {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items:stretch;
}

.card-container .card {
  width: 22rem;
  margin:10px;
}

.card-container .card-footer {
  text-align:center;
}

.list-group-item.active {
  background-color: #343a40;
  border-color: #343a40;
}

#buttonspot {
  margin-top:5px;
}

p {
  margin-top:10px;
  margin-bottom:10px;
}

.scores {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  border-bottom: 1px solid rgb(222, 226, 230);
}
.scores span {
  margin-left:5px;
  margin-right:5px;
  white-space: nowrap;
}